/.paket/paket.exe
/packages
/src/FsAsn1/bin
/src/FsAsn1/obj
/tests/FsAsn1.Tests/bin
/tests/FsAsn1.Tests/obj

TestResult.xml
/build
/.fake
/src/FsAsn1.TypeProvider/bin
/src/FsAsn1.TypeProvider/obj
/tests/FsAsn1.Tests/load-tp-assemblies.fsx
/src/FsAsn1.Viewer/bin
/src/FsAsn1.Viewer/obj
/.vs
