source https://api.nuget.org/v3/index.json
framework >= net452

nuget FAKE
nuget FParsec-Big-Data-Edition 1.0.2
nuget FSharp.Core redirects: force
nuget FSharp.TypeProviders.StarterPack
nuget FsUnit
nuget NUnit
nuget NUnit.ConsoleRunner
nuget Suave